<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectprototype">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScoreView"></activity>
        <activity android:name=".UpdatePassword" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".HandicapHistory" />
        <activity android:name=".PlayerNameData" />
        <activity android:name=".MultiplayerScoreResult" />
        <activity android:name=".MultiplayerScoreLibrary" />
        <activity android:name=".MultiplayerEnterScore2" />
        <activity android:name=".MulitplayerEnterScore" />
        <activity android:name=".MultiPlayerUpload" />
        <activity android:name=".ScoreData" />
        <activity android:name=".ScoreResult" />
        <activity android:name=".ScoreLibrary" />
        <activity android:name=".EnterScoreHole1" />
        <activity android:name=".UploadScore" />
        <activity android:name=".TheIslandHole18" />
        <activity android:name=".TheIslandHole17" />
        <activity android:name=".TheIslandHole16" />
        <activity android:name=".TheIslandHole15" />
        <activity android:name=".TheIslandHole14" />
        <activity android:name=".TheIslandHole13" />
        <activity android:name=".TheIslandHole12" />
        <activity android:name=".TheIslandHole11" />
        <activity android:name=".TheIslandHole10" />
        <activity android:name=".TheIslandHole9" />
        <activity android:name=".TheIslandHole8" />
        <activity android:name=".TheIslandHole7" />
        <activity android:name=".TheIslandHole6" />
        <activity android:name=".TheIslandHole5" />
        <activity android:name=".TheIslandHole4" />
        <activity android:name=".TheIslandHole3" />
        <activity android:name=".TheIslandHole2" />
        <activity android:name=".TheIslandHole1" />
        <activity android:name=".TheIslandCourseGuide" />
        <activity android:name=".CourseOverview" />
        <activity android:name=".DrivingTips" />
        <activity android:name=".IronTips" />
        <activity android:name=".ChippingTips" />
        <activity android:name=".PuttingTips" />
        <activity android:name=".CourseTips" />
        <activity android:name=".CurrentGoals" />
        <activity android:name=".RegestrationActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".ViewHandicap" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>